version: '3.8'

services:
  backend:
    build: ./backend
    image: 484907501702.dkr.ecr.ap-south-1.amazonaws.com/tuteduce_ec2:backend-latest
    container_name: backend
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    image: 484907501702.dkr.ecr.ap-south-1.amazonaws.com/tuteduce_ec2:frontend-latest
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - API_URL=http://backend:5000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge